// default fonts
$default-font-family: 'Open Sans', sans-serif;
$default-font-size: 14px;

// default sizes
$default-min-width: 320px;

// default colors
$default-bg-color: #ececec;
$default-color: #000;
$default-btn-bg-color: #d51e08;
$default-btn-color: #fff;
$default-menu-color: #000;
$default-menu-hover-color: #000799