@import "partials/mixins";
@import "partials/params";

#main-content {
 
    & .sidebar {
        position: relative;

        & .fade  {
            opacity: 1;

            & .item {
                display: block;
                position: absolute;
                transition: opacity .5s;
                top: 0;
                left: 0;
                width: 100%;;  
                opacity: 0;
                z-index: 2;

                &.active {
                    position: relative;
                    opacity: 1;
                    z-index: 1;
                }
            }  
        } 
            
    }

}