@import "partials/mixins";
@import "partials/params";

#main-content {
 
    .sidebar {
        padding: 50px 0 70px;
        border-right: 3px solid #dadada;

        & .widget {
            border-bottom: 3px solid #dadada;
            margin-bottom: 30px;
            padding-bottom: 30px;

            & h3 {margin-bottom: 30px;}
            & ul {
                list-style: none;
                padding-left: 0;
                margin: 0;

                & li > a {
                    display: block;
                    color: #000;
                    font-size: 16px;
                    line-height: 30px;
                }

                & li.more > a {color: #358acd;}
            }
        } //./widget

        @media only screen and (max-width: 1200px) {
            & .carousel, & .banner {margin-right: 20px;}
        }

        @media only screen and (max-width: 992px) {
            padding-bottom: 0;
            padding-top: 0;
            border-right: none;
            & .carousel, & .banner {margin-right: 0;}
        }

        @media only screen and (max-width: 540px) {
            & .col-xs-6 {width: 100%;}
            & .carousel, & .banner {display: inline-block;;}
        }

    } // .sidebar

} // #main-content